body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Russo One", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(6, 39, 91);
    padding: 20px;
    font-size: 32px;
    color: rgb(6,39,91);
}

.chamada {
    background: rgb(29, 174, 200);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
    color: rgb(2, 2, 180);
}

h1 {
    font-size: 40px;
  }

p {
    font-size: 20px;
  }

img{
    height: 200px;
}

.videosrec{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.videosrec img {
    opacity: 0.5;
    height: 200px
}

.videosrec img:hover {
    opacity: 1.0;
    border: 1px solid rgb(207, 210, 25)
}

.videosroleta h2 {
    color: rgb(207, 210, 25);
}

.videosroleta {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }